body{
  font-family: 'ヒラギノ明朝 ProN',serif;
}

/* ヘッダー */
header{
  width: 100%;
  height: 550px;
  background-image: url(img/main.png);
  background-size: cover;
  background-position: center;
}
.header_wrapper{
  margin: 0 70px;
  padding: 30px;
  display: flex;
}
.header_wrapper img{
  width: 130px;
}
.header_wrapper nav{
  margin: 0 0 0 auto;
}
.header-nav_list li{
  font-size: 1.2em;
  margin: 0 25px;
}
.header-nav_list a{
  color: black;
  text-decoration: none;
}
a:hover{
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header_title{
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
  margin-top: 150px;
}

/* メインコンテンツ */
/* お知らせ */
.info{
  margin: 200px 0;
}
.main_title{
  margin: 0 0 80px 0;
  text-align: center;
  font-size: 2.3em;
  font-weight: lighter;
}
.info_content{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin: 0 0 40px;
}
.info_item{
  font-size: 0.5em;
  border: 1px solid black;
  padding: 6px;
  margin: 0 20px;
}
.info_content a{
  text-decoration: none;
  color: black;
}


/* 施工事例 */
.example{
  margin: 150px 20px;
}
.ex_content{
  text-align: center;
}
.ex_content img{
  width: 100%;
}
.ex_title{
  font-size: 1.5em;
  font-weight: lighter;
  margin:  30px 0 10px 0;
}
.ex_area{
  width: 70%;
  margin: 0 auto;
  font-size: 0.9em;
}
.ex_detail{
  width: 70%;
  margin: 15px auto 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.ex_detail a{
  text-decoration: none;
  color: black;
}
.ex_list{
  text-align: center;
  font-size: 1.3em;
  margin: 40px auto;
}
  .ex_list a{
  text-decoration: none;
  color: black;
  padding: 15px 30px;
  border: 1px solid black;
}

/* リンク */
.link_content img{
  width: 100%;
}
.link_content :hover{
  opacity: .8;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* フッター */
footer{
  background-color: black;
}
.footer_logo img{
  width: 90px;
}
.footer_list li{
  font-size: 1.2em;
  margin: 0 25px;
}
.footer_list a{
  color: white;
  text-decoration: none;
}
footer p{
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 5px;
  margin: 0;
}






@media(min-width: 960px){
.header-nav_list{
  display: flex;
}
.info_container{
  width: 700px;
  margin: 0 auto;
}
.info_content br{
  display: none;
}
.ex_wrapper{
  display: flex;
  justify-content: space-around;
}
.ex_content{
  width: 430px;
}
.link_container{
  display: flex;
}
.link_content{
  width: calc(100% / 3);
}
.footer_wrapper{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto 20px;
}
.footer_list{
  display: flex;
}
.footer_logo img{
  margin: 11px 0;
}
}


@media(max-width: 960px){

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:-120%;
  left:0;
width:100%;
  height: 100vh;/*ナビの高さ*/
background:#999;
  /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center; 
}

#g-nav li a{
color: #333;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
position: absolute;
  z-index: 9999;/*ボタンを最前面に*/
top: 20px;
right: 10px;
cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 1px;
  border-radius: 2px;
background-color: black;
  width: 42%;
}

.openbtn1 span:nth-of-type(1) {
top:15px; 
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*========= レイアウトのためのCSS ===============*/

header{
  width: 100%;
  height: 50vh;
  background-image: url(img/main.png);
  background-size: cover;
  background-position: center;
}
.header_wrapper{
  margin: 0 10px;
  padding: 10px;
  display: flex;
}
.header_wrapper img{
  width: 90px;
}
.header-nav_list{
  text-align: center;
}
.header-nav_list li{
  width: 100%;
  margin: 0;
}
.header_title{
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  margin-top: 100px;
}

/* メインコンテンツ */
.info{
  margin: 50px 20px;
}
.main_title{
  margin: 0 0 30px 0;
  font-size: 1.5em;
}
.info_content{
  margin: 20px 5px;
}
.info_date{
  font-size: 0.8em;
}
.info_text{
  display: inline-block;
  padding-top: 10px;
}

.example{
  margin: 150px auto;
  min-width: 100%;
  max-width: 700px;
}
.ex_content{
  margin: 0 20px;
}
.ex_content img{
  width: 100%;
}
.footer_wrapper{
  position: relative;
  height: 360px;
}
.footer_logo img{
  display: block;
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
  margin: auto;
}
.footer_list{
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
.footer_list li{
  font-size: 1em;
  padding: 10px;
}
}
